In [1]:
import datetime

# from tables import Column
import time

import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import pandas as pd
import scipy.stats as stats
import yfinance as yf

In [2]:
def FormataStringData(data):

  dia  = data.split("/")[0]
  mes  = data.split("/")[1]
  ano  = data.split("/")[2]

  return ano + '-' + mes + '-' + dia

In [8]:
stock_list = ['ITUB3.SA', 'VALE3.SA']

df_stock = pd.DataFrame()

for stock in stock_list:
    df_stock[stock] = yf.download(stock, start=FormataStringData('01/12/2022'), end=FormataStringData('01/01/2023'))["Adj Close"]
    
df_stock.reset_index(inplace=True)
df_stock = df_stock.melt(id_vars='Date', var_name='Tickers', value_name='Adj_Close')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
df_stock

         Date   Tickers  Adj_Close
0  2022-12-01  ITUB3.SA  21.343178
1  2022-12-02  ITUB3.SA  21.419096
2  2022-12-05  ITUB3.SA  21.030005
3  2022-12-06  ITUB3.SA  21.219807
4  2022-12-07  ITUB3.SA  21.248274
5  2022-12-08  ITUB3.SA  20.555498
6  2022-12-09  ITUB3.SA  20.406172
7  2022-12-12  ITUB3.SA  20.114933
8  2022-12-13  ITUB3.SA  19.503330
9  2022-12-14  ITUB3.SA  19.707193
10 2022-12-15  ITUB3.SA  19.862524
11 2022-12-16  ITUB3.SA  19.930483
12 2022-12-19  ITUB3.SA  20.241135
13 2022-12-20  ITUB3.SA  20.697411
14 2022-12-21  ITUB3.SA  20.881861
15 2022-12-22  ITUB3.SA  20.940111
16 2022-12-23  ITUB3.SA  21.221642
17 2022-12-26  ITUB3.SA  20.949818
18 2022-12-27  ITUB3.SA  20.755657
19 2022-12-28  ITUB3.SA  21.289598
20 2022-12-29  ITUB3.SA  21.250763
21 2022-12-01  VALE3.SA  84.042038
22 2022-12-02  VALE3.SA  84.646660
23 2022-12-05  VALE3.SA  84.558884
24 2022-12-06  VALE3.SA  85.787628
25 2022-12-07  VALE3.SA  82.735275
26 2022-12-08  VALE3.SA  83.749474
27 2022-12-09  VALE3.SA  86.538521
28 2022-12-12  VALE3.SA  83.954262
29 2022-12-13  VALE3.SA  84.308502
30 2022-12-14  VALE3.SA  85.022812
31 2022-12-15  VALE3.SA  85.296791
32 2022-12-16  VALE3.SA  83.838814
33 2022-12-19  VALE3.SA  83.535477
34 2022-12-20  VALE3.SA  83.907310
35 2022-12-21  VALE3.SA  84.386780
36 2022-12-22  VALE3.SA  83.907310
37 2022-12-23  VALE3.SA  84.465065
38 2022-12-26  VALE3.SA  85.238083
39 2022-12-27  VALE3.SA  87.273392
40 2022-12-28  VALE3.SA  87.077682
41 2022-12-29  VALE3.SA  86.970047

In [10]:
df_stock[df_stock['Tickers'] == 'ITUB3.SA']['Date']

0    2022-12-01
1    2022-12-02
2    2022-12-05
3    2022-12-06
4    2022-12-07
5    2022-12-08
6    2022-12-09
7    2022-12-12
8    2022-12-13
9    2022-12-14
10   2022-12-15
11   2022-12-16
12   2022-12-19
13   2022-12-20
14   2022-12-21
15   2022-12-22
16   2022-12-23
17   2022-12-26
18   2022-12-27
19   2022-12-28
20   2022-12-29
Name: Date, dtype: datetime64[ns]

In [11]:
df_itub = df_stock[df_stock['Tickers'] == 'ITUB3.SA']
df_itub

         Date   Tickers  Adj_Close
0  2022-12-01  ITUB3.SA  21.343178
1  2022-12-02  ITUB3.SA  21.419096
2  2022-12-05  ITUB3.SA  21.030005
3  2022-12-06  ITUB3.SA  21.219807
4  2022-12-07  ITUB3.SA  21.248274
5  2022-12-08  ITUB3.SA  20.555498
6  2022-12-09  ITUB3.SA  20.406172
7  2022-12-12  ITUB3.SA  20.114933
8  2022-12-13  ITUB3.SA  19.503330
9  2022-12-14  ITUB3.SA  19.707193
10 2022-12-15  ITUB3.SA  19.862524
11 2022-12-16  ITUB3.SA  19.930483
12 2022-12-19  ITUB3.SA  20.241135
13 2022-12-20  ITUB3.SA  20.697411
14 2022-12-21  ITUB3.SA  20.881861
15 2022-12-22  ITUB3.SA  20.940111
16 2022-12-23  ITUB3.SA  21.221642
17 2022-12-26  ITUB3.SA  20.949818
18 2022-12-27  ITUB3.SA  20.755657
19 2022-12-28  ITUB3.SA  21.289598
20 2022-12-29  ITUB3.SA  21.250763

In [20]:
df = pd.DataFrame({'Date': ['2022-12-01', '2022-12-02'],
                   'ITUB3.SA': [21.343174, 21.419096],
                   'VALE3.SA': [84.042038, 84.646660]})

In [21]:
df

         Date   ITUB3.SA   VALE3.SA
0  2022-12-01  21.343174  84.042038
1  2022-12-02  21.419096  84.646660

In [34]:
df_new = df.melt(id_vars='Date', var_name='Tickers', value_name='Adj_Close')

In [35]:
df_new

         Date   Tickers  Adj_Close
0  2022-12-01  ITUB3.SA  21.343174
1  2022-12-02  ITUB3.SA  21.419096
2  2022-12-01  VALE3.SA  84.042038
3  2022-12-02  VALE3.SA  84.646660

In [38]:
df_new[df_new['Tickers'] == 'ITUB3.SA']['Date']

0    2022-12-01
1    2022-12-02
Name: Date, dtype: object

In [40]:
df_itub = df_new[df_new['Tickers'] == 'ITUB3.SA']
df_itub

         Date   Tickers  Adj_Close
0  2022-12-01  ITUB3.SA  21.343174
1  2022-12-02  ITUB3.SA  21.419096

Date	              ITUB3.SA	    VALE3.SA
0  2022-12-01	  21.343176	    84.042038
1	 2022-12-02	  21.419096	84.646660

                        Date                   return
ITUB3.SA    2022-12-01       21.343176
VALE3.SA   2022-12-01       84.042038
VALE3.SA   2022-12-02	  21.419096	
                         2022-12-02     84.646660